.cart__inner {
    width: 85%;
}

.cart {
    display: flex;
    justify-content: center;

    padding: 100px 200px;
    width: 100%;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        i {
            margin-right: 10px;
        }

        &-title {
            display: flex;
            align-items: inherit;

            font-weight: 700;
            font-size: 32px;
        }

        &-cleaner {
            cursor: pointer;

            font-weight: 400;
            font-size: 16px;

            color: #b6b6b6;
        }

        padding-bottom: 30px;

        border-bottom: 1px solid #f4f4f4;
    }

    &__order-block {
        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-top: 30px;

            position: relative;

            padding-bottom: 30px;

            border-bottom: 1px solid #f4f4f4;

            &:last-child {
                border-bottom: none;
            }

            .fa-solid {
                font-size: 32px;

                cursor: pointer;
            }

            &-img {
                margin-right: 15px;

                width: 80px;
                height: 80px;

                position: absolute;
            }

            &-info {
                display: flex;
                flex-direction: column;

                margin-left: 100px;

                &-title {
                    line-height: 27px;
                    font-weight: 700;
                    font-size: 22px;

                    width: 310px;
                }

                &-description {
                    font-weight: 400;
                    font-size: 18px;

                    color: #8d8d8d;
                }
            }

            &-options {
                // margin-left: 150px;
                font-weight: 700;
                font-size: 22px;

                display: flex;
                align-items: center;

                &-value {
                    margin: 0 12px;
                }
            }

            &-price {
                // margin-left: 100px;

                font-weight: 700;
                font-size: 22px;
            }

            .fa-circle-xmark {
                font-size: 32px;

                justify-self: flex-end;
            }
        }
    }

    &__total {
        display: flex;
        justify-content: space-between;

        margin-top: 40px;

        font-weight: 400;
        font-size: 22px;

        span {
            margin-right: 8px;
        }

        &__price-value {
            color: #fe5f1e;
        }
    }

    &__buttons-block {
        display: flex;
        justify-content: space-between;

        margin-top: 40px;

        &__button {
            padding: 10px 30px;

            border-radius: 30px;
            text-align: center;

            cursor: pointer;

            &--back {
                font-weight: 400;
                font-size: 16px;

                position: relative;

                color: #cacaca;
                background: #ffffff;

                border: 1px solid #d3d3d3;

                .fa-angle-left {
                    position: absolute;

                    left: 15px;
                    top: 15px;
                }

                &:hover {
                    .fa-angle-left {
                        transform: translateX(-5px);
                    }
                }
            }

            &--pay {
                background: #fe5f1e;
                color: white;
            }
        }
    }

    &__empty {
        display: flex;
        align-items: center;
        flex-direction: column;

        text-align: center;

        width: 80%;
        margin: 0 auto;

        &-title {
            font-weight: 700;
            font-size: 32px;
            margin-bottom: 5px;
        }

        &-img {
            height: 300px;
            width: 255px;
        }

        &-text {
            font-weight: 400;
            font-size: 18px;

            color: #777777;
        }

        &-button {
            padding: 10px 30px;

            font-weight: 700;
            font-size: 16px;

            color: white;
            background-color: black;

            border-radius: 30px;
            text-align: center;

            cursor: pointer;

            transition: background-color 0.2s linear, color 0.2s linear;

            &:hover {
                color: black;
                background-color: white;
            }
        }
    }
}
